<%- include("header") %>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
            <img src="images/favpng_catering-food-logo-event-management.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            OrderRista
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navigation-list">
          <li class="nav-item">
            <a class="nav-link active text-muted" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/review">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/feedback">Give Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contactus">contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row contact-page">
      <div class="col-lg-4 col-md-12 col-sm-12">
           <i class="fab fa-instagram contact-icon"></i>
           <h3>@OrderRista_152</h3>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
            <i class="fab fa-facebook contact-icon"></i>
            <h3>@OrderRista/facebook</h3>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
            <i class="fab fa-twitter contact-icon"></i>
            <h3>@OrderRsita/twitter</h3>
    </div>



  </div>


  <%- include("footer") %>