<%- include("header") %>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
            <img src="images/favpng_catering-food-logo-event-management.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            OrderRista
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navigation-list">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/review">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/feedback">Give Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/contactus">contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row header-menu">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="banner">
        
        <h1 class="addd"style="font-family: 'Merriweather', serif;">ALWAYS FRESH & HIGH</h1>
        <h1 class="addd" style="font-family: 'Merriweather', serif;">QUALITY PRODUCTS</h1>
        <a href="#tar-get" class="btn btn-dark" style="margin-top: 10px;">View Menu</a>
      </div>
    </div>

  </div>
    <div class="row red-area" style="background-color: #555555; height: auto; margin-bottom: 30px;">
        <div class="col-lg-4 col-md-4 col-sm-4  mble"> 
          <div class="we-deliver">
            <i class="fa-solid fa-truck red-bar"></i>
            <p style="color:#A0BCC2; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">We Deliver At Your Doorstep</p>
            <p class="lorem">Others Deliver Parcels We Deliver Emotions.We take care of order fulfillment, collection, transport and delivery of parcels.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mble"> 
          <div class="we-deliver">
            <i class="fa-solid fa-credit-card red-bar"></i>
            <p style="color: #A0BCC2; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Secure And Safe</p>
            <p class="lorem">Process payments anywhere with our global payments platform and expertise to help you unlock more value in every transaction.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 mble"> 
          <div class="we-deliver">
            <i class="fa-solid fa-hand-sparkles red-bar"></i>
            <p style="color: #A0BCC2; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Hygienic Food</p>
            <p class="lorem">Delicious Food For Your Life.From Your neighbourhood kebab spot to the burger you crave choose over <span style="color: #95CD41;">+300k</span> local and national favorites across India</p>
          </div>
        </div>
      </div>
    <div class="row menu-line" id="tar-get">
      <h1 class="menu" >Menu</h1>
      <div class="col-lg-4 col-md-12 col-sm-4">
        <div class="card food-card">
          <img src="images/1-27.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chilli Paneer</h5>
            <p class="card-text">₹120.00</p>
            <a href="/details" class="btn btn-dark">Buy Now</a>
          </div>
        </div>
      </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card food-card" >
            <img src="images/easy-butter-chicken-naan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chilli Chicken + Naan</h5>
              <p class="card-text">₹160.00</p>
              <a href="/details" class="btn btn-dark">Buy Now</a>
            </div>
          </div>
        </div>

          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card food-card">
              <img src="images/pizza.jpg"class = "card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pizza</h5>
                <p class="card-text">₹130.00</p>
                <a href="/details" class="btn btn-dark">Buy Now</a>
              </div>
            </div>
          </div>
    </div>
    <div class="row menu-line">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card food-card">
          <img src="images/Burger.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Veg Burger</h5>
            <p class="card-text">₹200.00</p>
            <a href="/details" class="btn btn-dark">Buy Now</a>
          </div>
        </div>
      </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card food-card" >
            <img src="images/grilled-chicken.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Grilled Chicken</h5>
              <p class="card-text">₹320.00</p>
              <a href="/details" class="btn btn-dark">Buy Now</a>
            </div>
          </div>
        </div>

          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card food-card">
              <img src="images/Mushroom.jpg"class = "card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mushroom Soup</h5>
                <p class="card-text">₹180.00</p>
                <a href="/details" class="btn btn-dark">Buy Now</a>
              </div>
            </div>
          </div>
    </div>
    <div class="row menu-line">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card food-card">
          <img src="images/kababs.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chicken Kebab</h5>
            <p class="card-text">₹250.00</p>
            <a href="/details" class="btn btn-dark">Buy Now</a>
          </div>
        </div>
      </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card food-card" >
            <img src="images/french-fries.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">French Fries</h5>
              <p class="card-text">₹100.00</p>
              <a href="/details" class="btn btn-dark">Buy Now</a>
            </div>
          </div>
        </div>

          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card food-card">
              <img src="images/Lemon-rice.jpg"class = "card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lemon Rice</h5>
                <p class="card-text">₹150.00</p>
                <a href="/details" class="btn btn-dark">Buy Now</a>
              </div>
            </div>
          </div>
    </div>
    <div class="row "> 
      <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="about">
          <h2>ABOUT ORDERRISTA</h2>
          <p >OrderRista is based on the principle "Indian food, infused with spices and delicate flavours made from the right ingredients, delights not just the taste buds but that something more".</p>
          <p>We control all aspects of supply chain, from procurement to product development till last mile delivery. Thus, ensuring excellence at each level and offering a delightful customer experience. We keep one simple thing in mind when we make our food - we only serve food that we love to eat.With an equal emphasis on technology and delivery, along with food, we make ordering food a first class experience.Just a few clicks on our ordering platform, and our delivery management system will deliver piping hot food right at your door steps. </p>
        </div>
        

      </div>

    </div>
    <footer>
      <p class="footer-line">Copyright© 2022 ORDERISTA.ALL Rights Reserved</p>
    </footer>

 <%- include("footer") %>